<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--为数组类型的进行赋值-->
    <!--<bean id="student" class="com.liuayng.spring.pojo.Student">-->
    <!--    <property name="name" value="刘洋"/>-->
    <!--    <property name="age" value="12"/>-->
    <!--    <property name="hobbies">-->
    <!--        <array>-->
    <!--            <value>抽烟</value>-->
    <!--            <value>喝酒</value>-->
    <!--            <value>烫头</value>-->
    <!--            <value>学java</value>-->
    <!--        </array>-->
    <!--    </property>-->
    <!--</bean>  -->

    <!--为集合类型属性进行赋值-->

    <!--第一种方式: array标签-->
    <!--<bean id="student" class="com.liuayng.spring.pojo.Student">-->
    <!--    <property name="name" value="刘洋"/>-->
    <!--    <property name="age" value="12"/>-->
    <!--    <property name="hobbies">-->
    <!--        <array>-->
    <!--            <value>抽烟</value>-->
    <!--            <value>喝酒</value>-->
    <!--            <value>烫头</value>-->
    <!--            <value>学java</value>-->
    <!--        </array>-->
    <!--    </property>-->
    <!--</bean>-->

    <!--第二种方式 : 使用list标签-->
    <bean id="student" class="com.liuayng.spring.pojo.Student">
        <property name="name" value="刘洋"/>
        <property name="age" value="12"/>
        <property name="hobbies">
            <list>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </list>
        </property>
    </bean>


</beans>